<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>S.G.P</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.pixabay.com/photo/2016/04/16/00/33/letter-p-1332281_960_720.png" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-color: #4C0B5F;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .table {
      border: 1px;
  }
  .panel {
      border: 1px solid #6A0888;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .navbar {
      margin-bottom: 0;
      background-color: #4C0B5F;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #4C0B5F !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-ruble"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage"><span class=""></span>S.G.P</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">PRACTICANTES</a></li>
        <li><a href="http://www.junji.cl/">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1>S.G.P</h1>
  <p>Practice Management System</p>
</div>
<!-- Container (About Section) -->
<div class="container" id="tprac">
  <div class="row">
    <div class="col-sm-12">
      <h2>Personas Registradas</h2><br>
      <div class="col-sm-12">
        <p>Practicantes</p>
          <table class="table table-dark table-responsive">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Rut</th>
                <th scope="col">Carrera</th>
                <th scope="col">Institucion</th>
                <th scope="col">Horas de practica</th>
              </tr>
            </thead>
            <tbody>
              {% for x in pers %}
              <tr>
                <td>{{x.id}}</td>
                <td>{{x.nombre}}</td>
                <td>{{x.edad}}</td>
                <td>{{x.rut}}</td>
                <td>{{x.carrera}}</td>
                <td>{{x.institucion}}</td>
                <td>{{x.horaspractica}} hrs.</td>
              </tr>
              {% endfor %}
            </body>
          </table
      </div>
      <br><button class="btn btn-info btn-lg" onClick="reload">Actualizar</button>
    </div>
  </div>
</div><br>
<!--SECCION FOTOS ALUMNO Y TAREAS -->
<div class="row">
  <div class="container">
    {% for x in pers %}
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail">
          <img src="https://icon-icons.com/icons2/510/PNG/512/person_icon-icons.com_50075.png" alt="..."> <!-- agregar foto del practicante desde un static -->
          <div class="caption">
            <h3 class="text-center">{{x.nombre}}</h3>
            <p class="text-center">planillas excel, libro diario, balance general, remuneraciones.</p> <!-- agregar tareas desde un static -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<br>
<br>
<nav aria-label="...">
  <ul class="pager">
    <li class="previous disabled"><a href="#" class="label-primary"><span aria-hidden="true">&larr;</span> PREVIA</a></li>
    <li class="next"><a href="#" class="">SIGUIENTE <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
<br>
<!--seccion footer -->
<div class="bg-primary">
<footer class="container-fluid text-center bg-primary">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p class="text-white">JUNJI - OCATAVA REGIÓN BIO BIO.</p>
</footer>
</div>
</body>
</html>
